*
!/world/
!/world_nether/
!/world_the_end/

!/world/**
!/world_nether/**
!/world_the_end/**

!banned-ips.json
!banned-players.json
!bukkit.yml
!commands.yml
!eula.txt
!help.yml
!ops.yml
!permissions.yml
!server.properties
!spigot.yml
!whitelist.json

!.gitignore